body {
background-image: url(/img/flowerpic.jpg);
background-size: cover;
min-width: 960px;
top: 0px;
left: 0px;
position: absolute;
height: 100%;
width: 100%;
margin: 0px;
color: white;
}

a {
    color: #ffffff;
}

.show-border {
  background-image: url(/img/ricepaper2.png);
  border: solid #999 3px; 
  color: black;
}

.home-contact {
  font-size: 20px;
  margin-top: 20px;
}

.home-contact div {
    margin-bottom: 20px;
}

.navbar {
  background-image: none;
}

#hover-format a {
    text-decoration: none;
    color: #FFF;
}

.blog-format {
	margin-left: 25px;
}

.btn {
	text-align: left;
}

.bottom-margin {
	margin-bottom: 15px;
}

.submit-btn {
  text-align: center;
}
