body {
  background-image: url(/img/ricepaper2.png);
}

.home {
  color: white;
}

.home-contact {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.navbar-font-color {
  color: white;
}

.navbar-font-size {
  font-size: 25px;
  font-style: italic;
}

.container {
  margin-left: 0px
}

.navbar {
  background-image: url(/img/flowerpicnavbar.png);
}


.namefont {
  font-size: 30px;
  margin-right: 10px;
}

#div-height {
  height: 140px;
  padding-top: 55px;
}

.headshot-thumbnail {
  height: 450px;
  margin-left: 25px;
  margin-top: 25px;
  border: solid black 5px;
  -moz-box-shadow:    3px 3px 5px 6px #999;
  -webkit-box-shadow: 3px 3px 5px 6px #999;
  box-shadow:         3px 3px 5px 6px #999;
  clear: left;

}

.logo {
  height: 20px;
}

.line {
  border-top: 1px solid #274327;
}

.contact-height {
  height: 20px;
}

/*.debug {
  border: 1px solid #990000;
}*/

.button_background {
  background-image: url(/img/ricepaper2.png);
}

.line {
  border-top: 1px solid #221F1F;
}

.btn-dim {
  /*height: 18px;*/
  width: 50px;
  padding: 0px;
}

.help-block {
  font-style: italic;
  color: red;
  font-weight: bold;
}